@media all and (max-width: 1440px) and (min-width: 320px) {
  body {
  background-image: url(Pics/lake.jpg);
  color: white;
  font-weight: bolder;
  font-family: Arial;
  background-size: cover;
}
}

img {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 50%;

}

@media all and (max-width: 1440px) and (min-width: 320px) {
.panda_pic {
  height: 300px;
  width: 450px;
}
}

@media all and (max-width: 1440px) and (min-width: 320px) {
.panda_baby {
  height: 300px;
  width: 450px;
}
}

.web-head {
  /*background-color: black;*/
  padding: 10px 10px 10px 10px;
}

h1 a {
  text-decoration: none;
  color: beige;
  display: inline-block;
  padding: 0 10px;
}
li {
  display: inline;
}

h1 a {
  text-decoration: none;
  color: beige;
  display: inline-block;
  padding-left: 0px 10px;
  background-color: black;
}

ul li a {
  text-decoration: none;
  color: beige;
  display: inline-block;
  padding: 0 10px;
}

@media all and (max-width: 1440px) and (min-width: 320px) {
.header ul li {
  margin: 0 auto;
}
}

ul {
  float: right;
}

h1 {
  display: inline;
  pa
}
